body {
        background-image: url(/img/bg.svg);
        padding: 0 4%;
        margin: auto;
        max-width: 45em;
        font-size: 1.1em;
	font-family:Helvetica,sans-serif;
}

img {
	max-width: 100%;
	display: block;
	margin: .75em auto;
	word-wrap: break-word;
}


p.red {
	color: #840c0c;
}
